@import 'tailwindcss';

@font-face {
  font-family: 'Nunito';
  src: url('@/assets/fonts/Nunito/Nunito-VariableFont_wght.woff2') format('woff2');
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('@/assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 200 1000;
  font-style: italic;
  font-display: swap;
}

@theme {
  /* Font */
  --font-sans: 'Nunito', system-ui, sans-serif;

  /* Core */
  --color-primary: oklch(0.5591 0.0809 272.6);
  --color-secondary: oklch(0.752 0.053 272.89);
  --color-accent: oklch(0.6386 0.0937 272.27);

  /* Surfaces & Text */
  --color-background: oklch(0.9816 0.0017 247.84);
  --color-text: oklch(0.1558 0.0063 285.64);

  /* Semantic */
  --color-success: oklch(0.697 0.1116 156);
  --color-error: oklch(0.5591 0.1539 20.36);
  --color-warning: oklch(0.8181 0.1265 79.78);
}

/* Fix scroll horizontal - force max-width */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
